.layout {
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}
.layout_dark {
  padding: 2rem;
  text-align: center;
  background: black;
  min-height: 100vh;
}
.content {
  max-width: 1280px;
  margin: 0 auto;
  background: #fff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.layout_dark .content {
  background: black;
  color: white;
}